
scikit-learn==1.6.1
gunicorn
flask
flask-cors
bson
werkzeug
pandas
requests
python-whois
dnspython
joblib
beautifulsoup4
pytesseract
PyPDF2
Pillow
opencv-python
numpy
torch
transformers
androguard
tldextract
pymongo
twilio
bcrypt
python-dotenv
cryptography

